{% extends 'base.twig' %}
{% block body %}
<div class="main-wrapper container">
    <h1>Техническое задание</h1>
    <div class="title">Используемый стэк : </div>
    <ul>
        <li>php ^8.0</li>
        <li>composer</li>
        <li>database mysql</li>
        <li>twig</li>
        <li>slim</li>
    </ul>
    <div class="main-content">
        <ul>
            <li>
                Реализована на серверной стороне валидация полей формы
                (стандартная валидация на клиентской стороне отключена,
                кастомная отключена ввиду отсутствия в стеке js,
                при необходимости можно подключить (в шаблоне base.twig)),
                передача ошибок на фронт выполнена на последовательных эксепшенах,
                т.к в боевой конфигурации передавать массив ошибок обычно нет необходимости
                ввиду наличия валидации на стороне клиента, для валидации номера телефона
                использована простейшее регулярное выражение, т.к. для боевой валидации желательно
                применять соответствующие библиотеки (например vlucas/valitron) всвязке с
                автоформатированием ввода на фронте
            </li>
            <li>Возможность переключения языка (ru|en) – при изменении языка
                меняются названия полей в форме (языковые файлы не реализовывались ввиду
                малого объема текстовых полей для перевода)
            </li>
            <li>
                При отправке формы сохраняем значения в базу (таблица users с
                уникальными полями емейл и номер телефона)
            </li>
            <li>
                При удачной отправке формы в ответ возвращается «ок» (статус 200).
                Все пользователи в бд выводятся на странице "База".
            </li>
            <li>
                При попытке сохранить дубль почты или телефона выводится сообщение об
                ошибке вида «такая почта/телефон уже есть». Случай когда и емейл, и телефонный
                номер одновременно уже присутствуют в бд опущен, т.к. приведет к дополнительному
                запросу к бд, чего хотелось избежать.
            </li>
            <li>для усложнения задачи и применения инструмента который используют в компании подключен Slim</li>
        </ul>
    </div>


<!--    {% for user in users %}-->
<!--    <div>-->
<!--        <div>{{ user.name }}</div>-->
<!--        <div>{{ user.email }}</div>-->
<!--        <div>{{ user.phone }}</div>-->
<!--    </div>-->
<!--    {% endfor %}-->
</div>
{% endblock %}