{% extends 'base.twig' %}
{% block body %}
<div class="main-wrapper container">
    <h1>Список пользователей</h1>
    <div class="title">
        Пока в базе данных ни одного пользователя
    </div>
</div>
{% endblock %}